<!DOCTYPE html>
<style>
	h1 {text-align: center;}
	h3 {text-align: center;}
	div {text-align: center;}
</style>
<h1> CRUD Application </h1>
<h3> C: Create
	 R: Read
	 U: Update
	 D: Delete
</h3>

<div class="form-group">
	<a class="btn btn-secondary" href="/user"><i class="fa fa-user"></i> Add User </a>
	<a class="btn btn-secondary" href="/user/list"><i class="fa fa-list"></i> User List </a>
</div>